{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    {{ form_errors(registrationForm) }}

    <div class="container">
        <div class="row justify-content-center">

            <h1>Register</h1>
            
            {{ form_start(registrationForm, {'attr': {'data-bs-theme': 'dark'}}) }}

                <div class="mb-3">

                {{ form_row(registrationForm.nombre, {'label': 'Nombre', 'attr': {'class': 'form-label form-control'}}) }}
                </div>

                <div class="mb-3">
                {{ form_row(registrationForm.email, {'label': 'email', 'attr': {'class': 'form-label form-control'}}) }}

                </div>

                <div class="mb-3">

                {{ form_row(registrationForm.plainPassword, 
                {
                    'label': 'Password',
                    'attr': {'class': 'form-label form-control'}

                }) }}


                </div>

                <div class="mb-3" >

                {{ form_row(registrationForm.agreeTerms, 
                {
                    'row_attr': {'class': 'form-check'},
                    'label_attr': {'class': 'form-check-label'},
                    'attr':{'class':'form-check-input'}
                }) }}

                {# {{ form_row(registrationForm.agreeTerms, {
                'label_attr': {'class': 'form-check-label'},
                'attr': {'class': 'form-check-input'}}) }} #}
                
                </div>


                <button type="submit" class="btn btn-primary">Registrar</button>

            {{ form_end(registrationForm) }}

        </div>
    </div>

{% endblock %}
